*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./page/home";
@import "./page/app";
@import "./page/go";
@import "./page/run";
@import "./page/exo";
@import "./page/stop";
@import "./page/do";
@import "./page/abb";
@import "./page/hed";
@import "./page/six";
@import "./page/map";